# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# PyTorch models
*.pt
*.pth

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
venv/
env/

weights/
